@charset "utf-8";

/* animation */
#wrap .w_inner { animation: fadeIn 2s; }
#container .wave { animation: fadeIn 2s; }

body { font-family: 'Inter', sans-serif; color: black; line-height: 1.5; font-size: 1.6rem; }

.clearfix::after { content: ''; display: block; clear: both; }
.inner { max-width: 1700px; margin: 0 auto; }
.inner_100 { max-width: 100%; margin: 0 auto; }

@media (max-width:1700px) { /* max-width:1600px 일때 */
    .inner { max-width: calc(100% - 160px); } /* 왼, 오 160px(80,80)으로 변경된다 */
}
@media (max-width:1400px) { /* max-width:1400px 일때 */
    .inner { max-width: calc(100% - 140px); } /* 왼, 오 140px(70,70)으로 변경된다 */
}
@media (max-width:1200px) { /* max-width:1200px 일때 */
    .inner { max-width: calc(100% - 120px); } /* 왼, 오 120px(60,60)으로 변경된다 */
}
@media (max-width:1024px) { /* max-width:1024px 일때 */
    .inner { max-width: calc(100% - 100px); } /* 왼, 오 160px(50,50)으로 변경된다 */
}
@media (max-width:768px) { /* max-width:768px 일때(mobile 사이즈) */
    .inner { max-width: calc(100% - 40px); } /* 왼, 오 160px(20,20)으로 변경된다 */
}

/* wrap */
#wrap { overflow-y: hidden; background: #14286F; height: 100vh; } /* 100vh : 전체크기의 100%만 보임 */

/* header */
#header { position: absolute; left: 0; top: 0; width: 100%; z-index: 9; padding-top: 10px; }
#header .inner { display: flex; justify-content: space-between; align-items: center; margin-top: 20px; }

#header h1 img { width: 118px; }

#header .gnb > li { float: left; }
#header .gnb > li > a { display: block; color: #EBD790; margin-left: 80px; font-size: 2.3rem; padding-top: 40px; font-weight: 500; }
#header .gnb > li:nth-child(2) > a { margin-left: 120px; }
#header .gnb > li:nth-child(3) > a { margin-left: 180px; }
#header .gnb > li:nth-child(4) > a { display: none; }

/* mgnb - 모바일메뉴 */
#header .mgnb_wrap { z-index: 99999; position: fixed; left: 100%; top: 0; width: 100%; height: 100%; background: #14286F; padding: 100px 50px 50px; }
#header .mgnb_wrap .m_inner { max-width: (100% - 50px); margin: 0 auto; }

#header .mgnb_wrap .mgnb_back { cursor: pointer; position: absolute; left: 50px; bottom: 60px; }

#header .mgnb_wrap .mgnb > li:first-child { margin-top: 50px; }
#header .mgnb_wrap .mgnb > li { font-size: 2.5rem; padding: 15px 0 10px; border-bottom: 1px solid #EBD790;  }
#header .mgnb_wrap .mgnb > li > a { color: #EBD790; font-weight: 500;  }

/* main - container */
#container { height: 100vh; } /* 80vh : 전체크기의 80%만 보임 */

#container .wave { height: 100vh; align-items: center; padding-top: 160px; display: flex; justify-content: center; transform: scale(0.9,0.9); margin: 0 auto;} 
#container .wave span { padding: 20px; display: block; animation: animate 3s ease-in-out infinite; animation-delay: calc(0.2s * var(--i)); }
#container .wave span:nth-child(1) img { margin-top: -100px; }
#container .wave span:nth-child(2) img { margin-top: 100px; }
#container .wave span:nth-child(3) img { margin-top: -200px; }
#container .wave span:nth-child(4) img { margin-top: 10px; }
#container .wave span:nth-child(5) img { margin-top: -160px; }
#container .wave span:nth-child(6) img { margin-top: 100px; }

@keyframes animate { 0% { transform: translateY(0px); } 20% { transform: translateY(-50px); } 40%,100% { transform: translateY(0px);} }

/* media query */
@media (max-width:1200px) {
    #header .inner {margin-top: 10px;}
    #header .gnb  > li .login_over { width: 25px; }
   
}
@media (max-width:1024px) { 
    #header .mgnb_wrap { width: 40%; margin-left: 60%; border-left: 1px solid #EBD790;}
    #header h1 img { width: 100px; }

    #header .gnb > li:nth-child(-n+2) > a { display: none; }
    #header .gnb > li:nth-child(4) > a { display: block; }

    #container .wave { transform: scale(0.8,0.8); } 
}
@media (max-width:768px) { 
    #wrap { overflow-x: hidden; padding: 10px 0; }

    #header .mgnb_wrap { width: 100%; margin-left: 0; border-left: none;}
    #header h1 img { width: 20%; position: absolute; left: 50%; top: 40px; transform: translateX(-50%); }
    
    #header .gnb > li:nth-child(3) > a { display: none; }
    #header .gnb > li:nth-child(4) > a img { width: 30px; margin-top: 10px; }

    #header .m_login { position: absolute; right: 80px; top: 53px;  }

    #container .wave { transform: scale(0.6,0.6); } 
}