@charset "utf-8";


/* animation */
@keyframes fadeUp {
    0% {
        transform:translateY(30px);
        -webkit-transform:translateY(30px);
        -moz-transform:translateY(30px);
        -ms-transform:translateY(30px);
        opacity:0;
   }
    100% {
       transform:translateY(0);
        -webkit-transform:translateY(0);
        -moz-transform:translateY(0);
        -ms-transform:translateY(0);
        opacity:1;
    }
}

@keyframes fadeUp_1 {
    0% {
        transform:translateY(10px);
        -webkit-transform:translateY(10px);
        -moz-transform:translateY(10px);
        -ms-transform:translateY(10px);
        opacity:0;
   }

   50% {
    transform:translateY(30px);
    -webkit-transform:translateY(30px);
    -moz-transform:translateY(30px);
    -ms-transform:translateY(30px);
    opacity:0;
}
    100% {
       transform:translateY(0);
        -webkit-transform:translateY(0);
        -moz-transform:translateY(0);
        -ms-transform:translateY(0);
        opacity:1;
    }
}

#container .person .list:nth-child(1) { animation: fadeUp 3s; }
#container .person .list:nth-child(2) { animation: fadeUp_1 3s; }

/* media quary */
@media (max-width:1700px) { /* max-width:1600px 일때 */
    .inner { max-width: calc(100% - 160px); } /* 왼, 오 160px(80,80)으로 변경된다 */
}
@media (max-width:1400px) { /* max-width:1400px 일때 */
    .inner { max-width: calc(100% - 140px); } /* 왼, 오 140px(70,70)으로 변경된다 */
}
@media (max-width:1200px) { /* max-width:1200px 일때 */
    .inner { max-width: calc(100% - 120px); } /* 왼, 오 120px(60,60)으로 변경된다 */
}
@media (max-width:1024px) { /* max-width:1024px 일때 */
    .inner { max-width: calc(100% - 100px); } /* 왼, 오 160px(50,50)으로 변경된다 */
}
@media (max-width:768px) { /* max-width:768px 일때(mobile 사이즈) */
    .inner { max-width: calc(100% - 40px); } /* 왼, 오 160px(20,20)으로 변경된다 */
}

/* depth2 */
.depth2 {width: 1000px; display: flex; justify-content: center; content: ''; }
.depth2 > li { float: left; padding: 0 20px; }

.depth2 > li:nth-child(2) > a { opacity: 1; }
.depth2 > li:nth-child(2) > a:after { padding-bottom: 4px; display:block; content: ''; border-bottom: solid 2px #EBD790; transform: scaleX(0.5); transition: transform 0.5s ease-in-out; }

/* container */
#container .person { display: flex; content: ''; justify-content: space-between; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }

#container .person .list { transition: transform 1s, opacity 1s; position: relative;  background: #EBD790; width: 700px; height: 430px; border-radius: 100px 100px 10px 10px; padding: 65px 50px; display: flex; content: ''; justify-content: space-between; color: #052F1A; box-shadow: 5px 5px 5px rgba(0,0,0,0.2); /* opacity: 0.5; */ margin: 150px 10px 0; }
#container .person .list:hover {cursor: pointer; transform: translate(0,-10px); /* opacity: 1; */}
#container .person .list img { width: 230px; height: 280px; border-radius: 600px; }
#container .person .list h2 { font-size: 2.5rem; padding: 20px 0 20px; }
#container .person .list dl { padding-bottom: 20px; font-size: 1.7rem; }

#container .person .list a { transition: background 1s, color 1s; display: block; margin-top: 10px; font-size: 2rem; color: #0A693A; font-weight: 600; border: 2px solid #0A693A; border-radius: 50px; width: 250px; height: 40px; padding: 3px 0 0 25px; }
#container .person .list a:hover { background: #0A693A; color: #EBD790; }

/* media query */
@media (max-width:1200px) {
    #header h1 img { width: 150px; }
    #header .gnb > li:first-child { font-size: 3.2rem; }
    #header .depth2 > li > a { font-size: 1.8rem; }

    #container .person .list { padding: 80px 30px 50px; width: 500px; }
    #container .person .list img { width: 170px; height: 200px; }
    #container .person .list h2 { font-size: 2rem; font-weight: 600; }
    #container .person .list dl { font-size: 1.5rem; }

    #container .btn span a img { width: 25px; }
}

@media (max-width:1024px) {
    .mgnb_wrap { width: 40%; margin-left: 60%; border-left: 1px solid #EBD790;}

    #header { margin-top: 50px; }
    #header h1 img { margin-top: -20px; position: absolute; left: 50%; transform: translateX(-50%); }
    #header .gnb {display: block; margin-top: 60px; }
    #header .gnb > li:first-child { font-size: 3rem;}
    #header .gnb > li > .depth2 li {  padding: 0 10px;  }
    #header .gnb > li > .depth2 li a { font-size: 1.2rem; }

    #header .m_menu { z-index: 9999; display: block; position: absolute; right: 100px; top: 0; cursor: pointer; }
    #header .m_menu img { width: 40px; }

    .depth2 { width: 800px; }

    #container .person .list { height: 500px; justify-content: space-around; width: 350px; margin-top: 150px; display: block; padding-top: 30px; text-align: center; }
    #container .person .list:nth-child(1) { margin-right: 10px; }
    #container .person .list img { width: 170px; height: 170px; }
    #container .person .txt { margin-right: 10px; }
    #container .person .list h2 { font-size: 1.8rem; font-weight: 600; }
    #container .person .list dl { font-size: 1.3rem; }

    #container .person .list a { position: absolute; left: 50%; transform: translateX(-50%); padding: 0; }

    #container .btn span a img { width: 30px; bottom: 60px; }
}

@media (max-width:768px) {
    .mgnb_wrap { width: 100%; margin-left: 0; border-left: none;}

    #header { margin-top: 20px; }
    #header h1 img { display: none; }

    #header .gnb {display: block; margin: 10px 0 0 0 ; }
    #header .gnb > li:first-child { font-size: 2rem; margin-top: 20px; }
    #header .depth2 > li > a { font-size: 1.5rem; }
    #header .gnb > li > .depth2 li a { font-size: 1rem; }

    .depth2 { width: 430px; margin-top: 20px; padding: 0 30px; text-align: center; }

    #header .m_logo { display: block; position: absolute; left: 50%; top: -30px; transform: translateX(-50%);  }
    #header .m_logo img {width: 120px;}
    #header .m_menu { z-index: 9999; display: block; position: absolute; right: 30px; top: 0; cursor: pointer;  margin-top: -10px; }
    #header .m_menu img { width: 30px; }

    #container .person .txt { margin-right: 0; }

    #container .person .list { display: block; padding-top: 10px; text-align: center; height: 380px; padding: 60px 8px 40px; margin-top: 220px; width: 200px; }
    #container .person .list img { width: 80px; height: 80px; margin-top: -20px; }
    #container .person .list h2 { font-size: 1.2rem; padding: 10px 0 ; }
    #container .person .list dl { font-size: 0.8rem; }
    #container .person .list dl dd { font-size: 0.8rem; margin-top: 5px; }

    #container .person .list a { width: 150px; margin-top: 5px; height: 30px; font-size: 1rem; padding: 5px 0 0 ; }

    #container .btn { display: none;}
    
}
