@charset "utf-8";

/* media quary */
@media (max-width:1700px) { /* max-width:1600px 일때 */
    .inner { max-width: calc(100% - 160px); } /* 왼, 오 160px(80,80)으로 변경된다 */
}
@media (max-width:1400px) { /* max-width:1400px 일때 */
    .inner { max-width: calc(100% - 140px); } /* 왼, 오 140px(70,70)으로 변경된다 */
}
@media (max-width:1200px) { /* max-width:1200px 일때 */
    .inner { max-width: calc(100% - 120px); } /* 왼, 오 120px(60,60)으로 변경된다 */
}
@media (max-width:1024px) { /* max-width:1024px 일때 */
    .inner { max-width: calc(100% - 100px); } /* 왼, 오 160px(50,50)으로 변경된다 */
}
@media (max-width:768px) { /* max-width:768px 일때(mobile 사이즈) */
    .inner { max-width: calc(100% - 40px); } /* 왼, 오 160px(20,20)으로 변경된다 */
}


/* depth2 */
.depth2 { width: 480px; display: flex; justify-content: center; content: ''; }
.depth2 > li { float: left; padding: 0 30px; }

.depth2 > li:nth-child(2) > a { opacity: 1; }
.depth2 > li:nth-child(2) > a:after { padding-bottom: 4px; display:block; content: ''; border-bottom: solid 2px #14286F; transform: scaleX(0.5); transition: transform 0.5s ease-in-out; }

/* container */
#container .info { display: flex; position: absolute; left: 50%; top: 60%; transform: translate(-50%, -50%); width: 100%; justify-content: space-around; align-items: center; padding: 0 50px; }

#container .info .txt { color: #14286F;  }
#container .info .txt dl { margin-bottom: 30px; }
#container .info .txt dt { font-size: 2.2rem; padding-bottom: 8px; font-weight: 600; }
#container .info .txt dd { font-size: 2rem; }

#container .info .map iframe { width: 700px; border-radius: 30px;  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);  }

/* media query */
@media (max-width:1200px) {
    #header h1 img { width: 150px; }
    #header .gnb > li:first-child { font-size: 3.2rem; }
    #header .depth2 > li > a { font-size: 1.8rem; }

    #container .info .map iframe { width: 600px; }

    #container .btn span a img { width: 25px; }
}

@media (max-width:1024px) {
    .mgnb_wrap { width: 40%; margin-left: 60%; border-left: 1px solid #EBD790;}

    #header { margin-top: 50px; }
    #header h1 img { margin-top: -20px; position: absolute; left: 50%; transform: translateX(-50%); }
    #header .gnb {display: block; margin-top: 60px; }
    #header .gnb > li:first-child { font-size: 3rem;}
    #header .gnb > li > .depth2 li {  padding: 0 10px;  }
    #header .gnb > li > .depth2 li a { font-size: 1.2rem; }

    .depth2 { width: 800px; }

    #header .m_menu { z-index: 9999; display: block; position: absolute; right: 100px; top: 0; cursor: pointer; }
    #header .m_menu img { width: 40px; }

    #container .info .map iframe { width: 500px; height: 400px; }
    #container .info .txt dt { font-size: 2rem; }
    #container .info .txt dd { font-size: 1.5rem; }
    
    #container .btn span a img { width: 30px; bottom: 60px; }
}

@media (max-width:768px) {
    .mgnb_wrap { width: 100%; margin-left: 0; border-left: none;}

    #header { margin-top: 20px; }
    #header h1 img { display: none; }

    #header .gnb {display: block; margin: 10px 0 0 0 ; }
    #header .gnb > li:first-child { font-size: 2rem; margin-top: 20px; }
    #header .depth2 > li > a { font-size: 1.5rem; }
    #header .gnb > li > .depth2 li a { font-size: 1rem; }

    .depth2 { width: 430px; margin-top: 20px; padding: 0 30px; text-align: center; margin-bottom: 20px; }

    #header .m_logo { display: block; position: absolute; left: 50%; top: -30px; transform: translateX(-50%);  }
    #header .m_logo img {width: 120px;}
    #header .m_menu { z-index: 9999; display: block; position: absolute; right: 30px; top: 0; cursor: pointer;  margin-top: -10px; }
    #header .m_menu img { width: 30px; }

    #container .info { flex-direction: column-reverse; top: 67%; }
    #container .info .map iframe { width: 350px; height: 200px; }
    #container .info .txt { margin-top: 20px; text-align: center; }
    #container .info .txt dl { margin-bottom: 10px; }
    #container .info .txt dt { font-size: 1.5rem; padding-bottom: 0; }
    #container .info .txt dd { font-size: 1rem; }


    #container .btn { display: none;}
    
}
