@charset "utf-8";

/* media quary */
@media (max-width:1700px) { /* max-width:1600px 일때 */
    .inner { max-width: calc(100% - 160px); } /* 왼, 오 160px(80,80)으로 변경된다 */
}
@media (max-width:1400px) { /* max-width:1400px 일때 */
    .inner { max-width: calc(100% - 140px); } /* 왼, 오 140px(70,70)으로 변경된다 */
}
@media (max-width:1200px) { /* max-width:1200px 일때 */
    .inner { max-width: calc(100% - 120px); } /* 왼, 오 120px(60,60)으로 변경된다 */
}
@media (max-width:1024px) { /* max-width:1024px 일때 */
    .inner { max-width: calc(100% - 100px); } /* 왼, 오 160px(50,50)으로 변경된다 */
}
@media (max-width:768px) { /* max-width:768px 일때(mobile 사이즈) */
    .inner { max-width: calc(100% - 40px); } /* 왼, 오 160px(20,20)으로 변경된다 */
}


/* depth2 */
.depth2 { width: 480px; display: flex; justify-content: center; content: ''; }
.depth2 > li { float: left; padding: 0 30px; }

.depth2 > li:nth-child(1) > a { opacity: 1; }
.depth2 > li:nth-child(1) > a:after { padding-bottom: 4px; display:block; content: ''; border-bottom: solid 2px #14286F; transform: scaleX(0.5); transition: transform 0.5s ease-in-out; }

/* container */
#container .inner { margin-top: 230px; }

#container .data { background: #14286F; width: 1100px; height: 580px; border-radius: 30px; margin: 0 auto; }
#container .data .d_inner { padding: 60px 50px; height: 580px; position: relative; }

#container .data .contents { display: flex; content: ''; justify-content: space-between; }
#container .data .contents dl { padding-bottom: 40px; }
#container .data .contents dt { color: #EBD790; font-size: 2rem; font-weight: 600; padding-bottom: 20px; }
#container .data .contents .txt input { width: 400px; border: 1px solid #bbb; border-radius: 10px; padding: 10px 12px; font-size: 14px; }
#container .data .contents .txt input::placeholder { color: #14286F; font-size: 1.6rem; opacity: 0.5; }

/* checkbox */
#container .data .contents .check { margin-bottom: 23px; display: flex; content: ''; justify-content: space-between; }
#container .data .contents .check .box { width: 20%; }
input[type="checkbox"] { display:none; }
input[type="checkbox"] + label { color:#EBD790; font-weight: 300; font-size: 1.4rem; }
input[type="checkbox"] + label span { display:inline-block; width:19px; height:19px;
 margin:-2px 10px 0 0; vertical-align:middle; cursor:pointer; border: 1px solid #EBD790; border-radius: 5px; }
input[type="checkbox"]:checked + label span { background: url(../../images/sub/Bibliotheque/check.png) center center no-repeat; width:19px; height:19px; }

.contents .left { width: 50%; }
.contents .right { width: 50%; }
.right .mobile { display: none; }

#container .data .d_inner .d_btn { position: absolute; left: 50%; bottom: 50px; transform: translateX(-50%); }
#container .data .d_inner .d_btn li { float: left; padding-left: 20px; }
#container .data .d_inner .d_btn a { transition: background 1s, color 1s; display: inline-block; color: #EBD790; border: 2px solid #EBD790; border-radius: 50px; font-weight: 600; width: 200px; height: 50px; text-align: center; font-size: 2rem; padding-top: 8px; }
#container .data .d_inner .d_btn a:hover { background: #EBD790; color: #14286F; }

/* media query */
@media (max-width:1200px) {
    #header h1 img { width: 150px; }
    #header .gnb > li:first-child { font-size: 3.2rem; }
    #header .depth2 > li > a { font-size: 1.8rem; }

    #container .data { width: 1000px; height: 560px; }
    #container .data .contents .txt input { width: 300px; }
    input[type="checkbox"] + label { font-size: 1.2rem; }

    #container .btn span a img { width: 25px; }
}

@media (max-width:1024px) {
    .mgnb_wrap { width: 40%; margin-left: 60%; border-left: 1px solid #EBD790;}

    #header { margin-top: 50px; }
    #header h1 img { margin-top: -20px; position: absolute; left: 50%; transform: translateX(-50%); }
    #header .gnb {display: block; margin-top: 60px; }
    #header .gnb > li:first-child { font-size: 3rem;}
    #header .gnb > li > .depth2 li {  padding: 0 10px;  }
    #header .gnb > li > .depth2 li a { font-size: 1.2rem; }

    .depth2 { width: 800px; }

    #header .m_menu { z-index: 9999; display: block; position: absolute; right: 100px; top: 0; cursor: pointer; }
    #header .m_menu img { width: 40px; }

    #container .inner { margin-top: 350px; }

    .contents .left { width: 45%; }
    .contents .right { width: 55%; }

    #container .data .d_inner { padding: 60px 30px; }
    #container .data { width: 720px; height: 560px; }
    #container .data .contents .txt input { width: 250px; }
    input[type="checkbox"] + label { font-size: 1rem; }
    #container .data .d_inner .d_btn { display: flex; }
    #container .data .d_inner .d_btn a { font-size: 1.5rem; width: 150px; height: 40px; padding-top: 7px; }

    
    #container .btn span a img { width: 30px; bottom: 60px; }
}

@media (max-width:768px) {
    .mgnb_wrap { width: 100%; margin-left: 0; border-left: none;}

    #header { margin-top: 20px; }
    #header h1 img { display: none; }

    #header .gnb {display: block; margin: 10px 0 0 0 ; }
    #header .gnb > li:first-child { font-size: 2rem; margin-top: 20px; }
    #header .depth2 > li > a { font-size: 1.5rem; }
    #header .gnb > li > .depth2 li a { font-size: 1rem; }

    .depth2 { width: 430px; margin-top: 20px; padding: 0 30px; text-align: center; margin-bottom: 20px; }

    #header .m_logo { display: block; position: absolute; left: 50%; top: -30px; transform: translateX(-50%);  }
    #header .m_logo img {width: 120px;}
    #header .m_menu { z-index: 9999; display: block; position: absolute; right: 30px; top: 0; cursor: pointer;  margin-top: -10px; }
    #header .m_menu img { width: 30px; }


    #container .inner { margin-top: 250px; }
    #container .data .d_inner { padding: 40px 20px; height: 400px; }
    #container .data { width: 360px; height: 400px; }

    .contents .left { width: 50%; }
    .contents .right { width: 50%; }

    #container .data .contents dl { padding-bottom: 15px; }
    #container .data .contents dt { font-size: 1.5rem; }

    #container .data .contents .txt input { width: 120px; }
    #container .data .contents .check { display: none; }
    .right .mobile { display: block; }
    .right .mobile .box { margin-bottom: 10px; }

    #container .data .d_inner .d_btn { bottom: 20px; }
    #container .data .d_inner .d_btn li { padding : 0 10px }

    #container .data .d_inner .d_btn a { font-size: 1.3rem;  width: 120px; }

    #container .btn { display: none;}
    
}